*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Open Sans",sans-serif;
}

header{
  position: fixed;

    width: 100%;

    height: 95px;

    background-color: #2f3640;

    border-bottom: 1px solid #111;

    z-index: 2;
  
}

.inner-width{
  max-width: 1000px;
  padding: 0 10px;
  margin: auto;
}

.logo{
  float: left;
  
  padding: 25px;
  height: 50px;
  width: 120px;
}

.logo img{
  height: 50px;
}

.navigation-menu{
  float: right;
  display: flex;
  align-items: center;
  min-height: 90px;
}

.navigation-menu a{
  margin-left: 10px;
  color: #ddd;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 4px;
  transition: .3s linear;
}

.navigation-menu a:hover{
  background: #fff;
  color: #2f3640;
  transform: scale(1.1);
}

.navigation-menu i{
  margin-right: 8px;
  font-size: 16px;
}

.home{
  color: #ff6b6b;
}

.about{
  color: #0abde3;
}

.works{
  color: #feca57;
}

.team{
  color: #5f27cd;
}

.contact{
  color: #1dd1a1;
}

.menu-toggle-btn{
  float: right;
  height: 90px;
  line-height: 90px !important;
  color: #fff;
  font-size: 26px;
  display: none !important;
  cursor: pointer;
}


@media screen and (max-width:700px) {
  .menu-toggle-btn{
    display: block !important;
  }

  .navigation-menu{

    width: 100%;
    max-width: 400px;
    background: #172b4d;
    top: 90px;
    right: 0;
    display: none;
    padding: 20px 40px;
    box-sizing: border-box;
  }

  .navigation-menu::before{
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #172b4d;
    position: absolute;
    top: -10px;
    right: 10px;
  }

  .navigation-menu a{
    display: block;
    margin: 10px 0;
    float: right;
  }

  .navigation-menu.active{
    display: block;
  }
}








*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans",sans-serif;
}



.blog-posts{
  width: min(1200px, 100%);
  padding: 100px;
  position: fixed;
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: pointer;
  top: 100;
  z-index: 2;
}
.post{
  width: calc(33% - 10px);
  overflow: hidden;
}

.post-img{
  width: 100%;
  border-radius: 6px;
  transition: .3s linear;
}

.post-content{
  background-color: #ffffffdd;
  margin: 0 20px;
  padding: 30px;
  border-radius: 6px;
  transform: translateY(-60px);
  transition: .3s linear;
}

.post-content h3{
  font-size: 16px;
  margin-bottom: 10px;
}

.date{
  font-size: 15px;
  font-style: italic;
  color: #e77f67;
}

.post:hover .post-img{
  transform: translateY(20px);
}

.post:hover .post-content{
  transform: translateY(-80px);
}

@media screen and (max-width: 1200px){
  .blog-posts{
    justify-content: center;
  }
  .post{
    width: min(600px, 100%);
  }
}
.üyeler{
  position: fixed;
  z-index: 2;
  margin-left: 100;
top: 200;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans",sans-serif;
}

body{
  height: 100vh;
  

 
  align-items: center;
}

.contact-info{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  z-index: 2;
  top: 100;
}

.card{
  position: relative;
  flex: 1;
  max-width: 300px;
  height: 140px;
  background-color: #2f3640;
  margin: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon{
  font-size: 32px;
  color: black;
  transition: .3s linear;
}

.card:hover .icon{
  transform: scale(4);
  opacity: 0;
}

.card-content h3,
.card-content span{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  opacity: 0;
}

.card-content h3{
  top: 20px;
  color: black;
}

.card-content span{
  bottom: 20px;
  color: #fff;
  font-weight: 500;
}

.card:hover h3{
  opacity: 1;
  top: 46px;
  transition: .3s linear .3s;
}

.card:hover span{
  opacity: 1;
  bottom: 46px;
  transition: .3s linear .3s;
}


@media screen and (max-width:900px){
  .card{
      flex: 100%;
      max-width: 500px;
  }
}